@font-face {
    font-family: 'magiestra';
    src: url('/fonts/Magiesta-VGpzx.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'glamor';
    src: url('/fonts/Glamor-MediumExtended.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'south';
    src: url('/fonts/Southampton.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'usy';
    src: url('/fonts/Unusefully.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }